<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creativo</title>
    <link rel="icon" href="{{url_for('static', filename='frontend/img/logo_negro.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='frontend/style/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg mt-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='frontend/img/logo_negro.png')}}" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="menu-capsula mx-auto d-lg-flex align-items-center position-relative">
                    <ul class="navbar-nav" id="nav-main">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" onclick="menuInicio(this)">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="menuPersonalizaciones(this)">Personalizaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="vistaMenuContacto(this)">Contacto</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center ms-lg-3 gap-2">
                        <a href="/login" class="btn-login-nav">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div id="vistaMenuInicio">
            {% include 'view/public/inicio.html' %}
        </div>
        
        <div id="vistaMenuPersonalizaciones" style="display: none;">
            {% include 'view/public/personalizaciones.html' %}
        </div>
        <div id="vistaMenuContacto" style="display: none;">
            {% include 'view/public/contacto.html' %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='backend/javascript/index.js')}}"></script>
</body>
</html>