/* index.css */
body {
    background: #f8f9fa; /* Fondo gris claro suave */
    font-family: 'Poppins', sans-serif;
}

/* Navbar Cápsula */
.menu-capsula {
    background: white;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.nav-link { color: #333 !important; font-weight: 500; }
.nav-link.active { color: #7494ec !important; }

.btn-login-nav {
    background: #7494ec;
    color: white;
    padding: 8px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

/* Carrusel con bordes redondeados */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

#Containerinfo {
    padding: 60px 20px;
}