body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

/* Contenedor redondeado tipo cápsula */
.menu-capsula {
    background-color: white;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

/* Links del menú */
.nav-link {
    color: #333 !important;
    font-weight: 400;
    padding: 0 15px !important;
    transition: 0.3s;
    margin: 5px;
}

.nav-link:hover, .nav-link.active {
    color: #00c3ff !important;
}

/* Botón de Login azul */
.btn-login {
    background-color: #00c3ff;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    font-weight: 600;
    border: none;
}

.btn-login:hover {
    background-color: #0099cc;
    color: white;
}

/* Ajustes para móviles menu flotante */
@media (max-width: 991px) {
    .menu-capsula {
        border-radius: 20px;
        margin-top: 20px;
        padding: 20px;
    }
    
    .navbar-nav {
        text-align: center;
        margin-bottom: 15px;
    }
}

/* Carrusel */
.carousel-container {
    max-width: 1000px; /* Ancho máximo del carrusel */
}

.carousel-item img {
    height: 500px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Evita que se estiren */
    border-radius: 25px;
}

.carousel {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.1);
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .carousel-item img { height: 300px; }
    .menu-capsula { border-radius: 20px; }
}

#Containerinfo{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: auto;
    width: 70%;
    background-color: #0099cc56;
    border-radius: 80px;
    box-shadow: 5px 5px 5px black;
}

#subtitulodescripcion{
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px solid black;
    margin-bottom: 10px;
}

#containericonos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 10%;
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 250px;
    width: 90%;
}
#containericono1{
    border: 1px solid black;
    width: 30%;
    height: 80%;
    border-radius: 30px;
    background-image: url(../img/gifcamisa.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
#containericono1:hover{
    cursor: pointer;
}
#containericono2{
    border: 1px solid black;
    width: 30%;
    height: 80%;
    border-radius: 30px;
    background-image: url(../img/gifmoto.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#containericono2:hover{
    cursor: pointer;
}
#parrafodescripcion{
    text-align: center;
}

